version: '3'

services:
  jenkins0:
    image: {{ image.jenkins }}
    ports:
      - 8080:8080
      - 9010:9010
    links:
      - socatdockersock
    privileged: true
    volumes:
      - {{ course_path }}/jenkins0:/var/jenkins_home
      - {{ course_path }}/jenkins-backup:/var/jenkins_backup
      - {{ course_path }}/jenkins-workspace:/home/jenkins
      - {{ course_path }}/jenkins-workspace/.jenkins:/home/jenkins/.jenkins

  socatdockersock:
    image: {{ image.socat }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: TCP4-LISTEN:2375,fork,reuseaddr UNIX-CONNECT:/var/run/docker.sock

  nexus:
    image: {{ image.nexus }}
    volumes:
      - {{ course_path }}/nexus-data:/nexus-data
    ports:
      - 8088:8081
      - 20000:20000
    links:
      - jenkins0

  ldap:
    image: {{ image.ldap }}
    ports:
      - 10389:389
  
  bitbucket:
    image: {{ image.bitbucket }}
    ports:
      - 7999:7999
      - 7990:7990
    volumes:
      - {{ course_path }}/bitbucket:/var/atlassian/application-data/bitbucket
       
  sonar:
    image: {{ image.sonar }}
    ports:
      - 9000:9000
      - 9092:9092
    volumes:
      - {{ course_path }}/sonarqube/conf:/opt/sonarqube/conf
      - {{ course_path }}/sonarqube/data:/opt/sonarqube/data
      - {{ course_path }}/sonarqube/extensions:/opt/sonarqube/extensions
      - {{ course_path }}/sonarqube/plugins:/opt/sonarqube/lib/bundled-plugins
