[Unit]
Description=Tomcat7
After=network.target

[Service]
Type=forking

Environment=CATALINA_PID=/opt/tomcat/apache-tomcat-{{ tomcat_v }}/tomcat7.pid
Environment=JAVA_HOME=/etc/alternatives/jre_1.8.0
Environment=CATALINA_HOME=/opt/tomcat/apache-tomcat-{{ tomcat_v }}
Environment=CATALINA_BASE=/opt/tomcat/apache-tomcat-{{ tomcat_v }}
Environment="CATALINA_OPTS=-Xms512m -Xmx512m"
Environment="JAVA_OPTS=-Dfile.encoding=UTF-8 -Dnet.sf.ehcache.skipUpdateCheck=true -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:+UseParNewGC"
ExecStart=/opt/tomcat/apache-tomcat-{{ tomcat_v }}/bin/startup.sh
ExecStop=/opt/tomcat/apache-tomcat-{{ tomcat_v }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
